apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: langfuse-init
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/Z3ROX-lab/ai-security-platform
    targetRevision: master
    path: argocd/applications/observability/langfuse-init/manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: storage
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
