apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: coredns-config
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Z3R0X/ai-security-platform
    targetRevision: main
    path: argocd/applications/infrastructure/coredns-config/manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
