apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:
    # Helm chart
    - repoURL: https://grafana.github.io/helm-charts
      chart: loki
      targetRevision: 6.23.0
      helm:
        valueFiles:
          - $values/argocd/applications/observability/loki/values.yaml
    # Values from Git
    - repoURL: https://github.com/Z3ROX-lab/ai-security-platform
      targetRevision: master
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: observability
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
