apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: security-baseline
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/Z3ROX-lab/ai-security-platform
    targetRevision: master
    path: argocd/applications/security/security-baseline/manifests
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      prune: true
      selfHeal: true